{#
/**
 * @file
 * Default template for the 'govuk_cookie' banner.
 *
 * Available variables:
 *   - title: The title for the cookie banner.
 *   - message: The cookie message to display.
 *   - cookie_policy: The types of cookies that the site sets.
 *   - cookie: The GOVUK cookie.
 *   - acceptance_message: The id of the message to display on acceptance.
 *   - rejection_message: The id of the message to display on rejection.
 *
 * @see https://design-system.service.gov.uk/components/cookie-banner/
 *
 * @ingroup themeable
 */
#}
{% if cookie_policy|length >= 1 %}
  {% set type = (cookie_policy|length == 1) and (cookie_policy|first == 'analytics') ? 'analytics' : 'additional' %}
{% endif %}

{% if not cookie %}
  <div{{ attributes }}>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% if title %}
          <h2 class="govuk-cookie-banner__heading govuk-heading-m">{{ title }}</h2>
        {% endif %}

        <div class="govuk-cookie-banner__content">
          {{ message }}
        </div>
      </div>
    </div>

    <div class="govuk-button-group">
      {% if type %}
        <button value="accept" type="button" name="cookies" class="govuk-button" data-cookie-replacement-message="{{ acceptance_message }}" data-module="govuk-button">
          Accept {{ type }} cookies
        </button>
        <button value="reject" type="button" name="cookies" class="govuk-button" data-cookie-replacement-message="{{ rejection_message }}" data-module="govuk-button">
          Reject {{ type }} cookies
        </button>
      {% endif %}
      <a class="govuk-link" href="/cookies">View cookies</a>
      {% if not type %}
        <button value="hide" type="button" class="govuk-button hide" data-module="govuk-button">
          Hide this message
        </button>
      {% endif %}
    </div>
  </div>
{% endif %}
